@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }
  body {
    @apply bg-[#0F172A] text-gray-100 font-display;
  }
}

@layer components {
  .glass-card {
    @apply bg-white/5 border border-white/10;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
  }

  .sidebar-item-active {
    @apply bg-primary text-white;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}
