# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
dist-ssr/
build/
out/
server/dist/
client/dist/

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
server/trace.log

# Local Env Files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
*.tsbuildinfo

# Application Data (Quatrix Specific)
data/*
!data/plugin_pool/
!data/.gitkeep
# Don't ignore static database files if they are meant to be tracked, 
# but usually dynamic data like 'instances' should be ignored.
# data/databases.json is strictly local runtime data.

# Temporary Files
*.tmp
*.bak
*.old
